* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img/LOGINBG.webpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    margin-bottom: 15px;
    text-align: start; 
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

p {
    margin-bottom: 20px;
    text-align: start; 
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], 
input[type="password"] {
    padding: 8px;
}

.remember {
    display: flex;
    margin-bottom: 10px;
}

.forgot-password a {
    justify-content: space-between;
    text-decoration: none;
    color: #a28057;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

button {
    padding: 10px;
    background-color: #e3c26d;
    color: darkolivegreen;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #a28057;
    color: white;
}

.register {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.register a {
    text-decoration: none;
    color: #a28057;
    font-weight: bold;
}